blinker==1.8.2
cachelib==0.13.0
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-Login==0.6.3
Flask-Session==0.8.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
msgspec @ git+https://github.com/jcrist/msgspec.git@ced7135513eab14ef8a679e8aa8ba481cbc08709
setuptools==75.2.0
Werkzeug==3.0.4
